<section class="cabecera-somos text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Quienes Somos</h1>
            </div>
        </div>
    </div>
</section>

<section class="altura-a-b">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>Titulo</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>

            </div>

            <div class="col-12 col-sm-6">
                <img class="img-fluid" src="" alt="Acerca">
            </div>

        </div>

    </div>
</section>

<section class="altura-a-b">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-6">
                <img class="img-fluid" src="" alt="Acerca">
            </div>


            <div class="col-12 col-sm-6">
                <h3>Titulo</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>

            </div>



        </div>

    </div>
</section>

<section class="altura-a-b">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>Titulo</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing.</p>

            </div>

            <div class="col-12 col-sm-6">
                <img class="img-fluid" src="" alt="Acerca">
            </div>

        </div>

    </div>
</section>

<section class="altura-a-b">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W1">
            </div>

            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W2">
            </div>

            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W3">
            </div>

            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W4">
            </div>
        </div>
    </div>
</section>