<section class="cabecera-somos text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Quienes Somos</h1>
            </div>
        </div>
    </div>
</section>

<section class="altura-a-b">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>Un arriendo seguro</h3>
                <p>En Turismo Real, contamos con profesionales dedicados a mejorar la experiencia de arriendo. <br> Arriendos Real: Para que disfrutes de un lugar como nuevo por mucho más tiempo, TR cuenta con profesionales encargados de administrar y mantener
                    el edificio en perfecto estado. <br> Ejecutivo de Servicio: Si quieres conocer nuestros proyectos puedes visitarlos en el horario de atención de cada uno de ellos. Para conocer el horario de atención sólo debes ingresar a nuestra sección
                    de contacto.</p>

            </div>

            <div class="col-12 col-sm-6">
                <img class="img-fluid" src="../../../assets/recursos/img_acercaDe/person01.jpg" width="50%" alt="Acerca">
            </div>

        </div>

    </div>
</section>

<section class="altura-a-b">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <img class="img-fluid" src="../../../assets/recursos/img_acercaDe/person002Pay.jpg" width="80%" alt="Acerca">
            </div>

            <div class="col-12 col-sm-6">
                <h3>Gastos fijos</h3>
                <p>Para que no tengas sorpresas a fin de mes, tus gastos comunes son fijos. Solo se suma el gasto mensual de agua caliente que efectivamente consumas.</p>
            </div>
        </div>
    </div>
</section>

<section class="altura-a-b">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>Espacios comunes</h3>
                <p>Disfruta y comparte en espacios especialmente pensados para ti: Salas multiuso equipadas, salones gourmet, quinchos con vista panorámica, piscina y gimnasio. Además cuentas con bicicletero, sala de lavado y secado. Según disponibilidad
                    en cada proyecto.</p>

            </div>

            <div class="col-12 col-sm-6">
                <img class="img-fluid" src="../../../assets/recursos/img_acercaDe/person03EC.jpg" width="90%" alt="Acerca">
            </div>

        </div>

    </div>
</section>

<!-- <section class="altura-a-b">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W1">
            </div>

            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W2">
            </div>

            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W3">
            </div>

            <div class="col-12 col-sm-3">
                <img class="img-fluid" src="" alt="W4">
            </div>
        </div>
    </div>
</section> -->


<div class="container mt-40">
    <h3 class="text-center">Quienes Somos</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-1.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">William</h3>
                    <span class="post">Gerente</span>
                    <ul class="icon">
                        <li>
                            <a href="#" class="fa fa-search"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-link"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-2.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Kristiana</h3>
                    <span class="post">Recepcionista</span>
                    <ul class="icon">
                        <li>
                            <a href="#" class="fa fa-search"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-link"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="box6">
                <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-3.jpg" alt="">
                <div class="box-content">
                    <h3 class="title">Felipe</h3>
                    <span class="post">Contador</span>
                    <ul class="icon">
                        <li>
                            <a href="#" class="fa fa-search"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-link"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>