<div class='container animated fadeIn fast'>
    <div class="card mx-auto col-md-5 col-8 mt-3 p-0"> <img class='mx-auto pic' src="/assets/recursos/webpay/webpay3.png" />
        <div class="card-title d-flex px-4">
            <p class="item text-muted">Arriendos<label class="register">&reg;</label> Real</p>
            <p>$5760</p>
        </div>
        <div class="card-body">
            <p class="text-muted">Detalles de tu pago</p>
            <div class="numbr mb-3"> <i class=" col-1 fas fa-credit-card text-muted p-0"></i> <input class="col-10 p-0" type="text" placeholder="Card Number"> </div>
            <div class="line2 col-lg-12 col-12 mb-4"> <i class="col-1 far fa-calendar-minus text-muted p-0"></i> <input class="cal col-5 p-0" type="text" placeholder="MM/YY"> <i class="col-1 fas fa-lock text-muted"></i> <input class="cvc col-5 p-0" type="text" placeholder="CVC"> </div>
        </div>
        <div class="footer text-center p-0">
            <div class="col-lg-12 col-12 p-0">
                <p class="order" onclick="window.history.go(-1); return false;" type="submit">Terminar compra</p>
            </div>
        </div>
    </div>
</div>