<section class="hero is-primary is-bold">

    <div class="hero-body">
        <div class="container">
            <h1 class="title"> Contact us</h1>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">

        <form (ngSubmit)="submitForm()" #contactForm="ngForm">
            <div class="field">

                <label class="label">Name</label>

                <input type="text" name="name" class="input" [(ngModel)]="name" #nameInput="ngModel" required>

                <div class="help is-error" *ngIf="nameInput.invalid && nameInput.touched">
                    Your name is required
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <input type="email" name="email" class="input" #emailInput="ngModel" [(ngModel)]="email" required email>
                <div class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">
                    Tu email es requerido.
                </div>

            </div>
            <div class="field">
                <label class="label">Tu mensaje</label>
                <textarea name="message" class="textarea" [(ngModel)]="message" cols="30" rows="10"></textarea>
            </div>

            <button type="submit" class="button is-large is-warning" [disabled]="contactForm.invalid">
                Enviar
            </button>



        </form>
    </div>
</section>