<nav class="navbar navbar-expand-lg navbar-dark fixed-top sps sps--abv" id="nav1">
    <!-- Centrar navbar con el div container -->
    <div class="container">
        <!-- <img class="logotipo" src="../../../../assets/recursos/img_logotipos/be_transparent.png" alt=""> -->
        <a class="navbar-brand" href="#">Turismo Real</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <!-- active -->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['home']">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['departamentos']">Departamentos</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['about']">Servicios</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['about']">Acerca de</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['about']">Contactanos</a>
                </li>
            </ul>

            <ul class="navbar-nav mr-right">
                <li *ngIf=usrTrue; class="nav-item" routerLinkActive="active">
                    <a class="nav-link">{{userName}}</a>
                </li>
                <li *ngIf=usrTrue; class="nav-item" routerLinkActive="active">
                    <a class="nav-link" (click)="logOut()">LogOut</a>
                </li>

                <li *ngIf=!usrTrue; class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['login']">Login</a>
                </li>
                <li *ngIf=!usrTrue; class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['registro']">Registro</a>
                </li>
            </ul>

            <!--ul class="navbar-nav mr-right">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['login']">Login</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['registro']">Registro</a>
                </li>
            </ul -->
        </div>
    </div>
</nav>