/* .navbar-inner {
    background: transparent;
} */


/* .logotipo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
} */

.sps--abv {
    /*Color opcional*/
    /*     background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A); */
    /* background-color: transparent; */
    /*whichever you want*/
    background-color: #000;
    opacity: 1.1;
    filter: (opacity=50);
}

.sps--blw {
    background-color: #2B2B2B;
    color: #fff;
}

nav.sps--abv .logotipo {
    width: 220px;
}


/* #nav1 {
    background-color: #F00;
    whichever you want
    opacity: 0.5;
    filter: (opacity=50);
} */