<!-- <section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    


                </div>

            </div>



        </div>


    </section>


</section> -->

<section class="altura-a-b" id="gallery">

    <div style="text-align: center;">
        <h2>Departamentos Principales</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card shadow-lg">
                    <img src="/assets/recursos/img_prindep/vina.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Viña del Mar</h5>
                        <p class="card-text">Se caracteriza por ser uno de los principales departamentos que otorgamos. Es uno de los sitios turísticos más reconocidos en Chile, es un lugar ideal para el turismo.</p>
                        <a href="https://www.visitevinadelmar.cl/" class="btn btn-outline-success btn-sm">Mas informacion</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card shadow">
                    <img src="/assets/recursos/img_prindep/serena.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">La Serena</h5>
                        <p class="card-text">Tours desde La Serena puedes realizar varios. Comenzando y terminando en la ciudad. Tours full day o tours nocturnos a algun observatorio turístico.</p>
                        <a href="https://tourlaserena.cl/?gclid=CjwKCAiA8Jf-BRB-EiwAWDtEGijE_7qhLiMipVIC7K1-rQo1YdOOkNfqpVQsr4x7iHFaFCMzM3iUsRoCBnIQAvD_BwE" class="btn btn-outline-success btn-sm">Mas informacion</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card shadow-sm">
                    <img src="/assets/recursos/img_prindep/santiago.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Santiago</h5>
                        <p class="card-text">Ciudad capital se abre al turismo con diferentes actividades que puedes disfrutar. La rica herencia cultural y patrimonial son la escencia del centro histórico</p>
                        <a href="http://www.santiagocapital.cl/" class="btn btn-outline-success btn-sm">Mas informacion</a>
                        <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>



<section class="banner-video">
    <a href="#">
        <img src="/assets/recursos/images_svg_play-button.svg" alt="Play">
    </a>
</section>


<section class="altura-a-b" id="PFC">
    <div style="text-align: center;">
        <h2>Preguntas Frecuentes</h2>
    </div>

    <div class="container py-3">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="accordion" id="faqExample">
                    <div class="card border-info">
                        <div class="card-header p-2" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn text-success animated fadeIn fast" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Que es "Turismo Real"?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show animated fadeIn fast" aria-labelledby="headingOne" data-parent="#faqExample">
                            <div class="card-body text-info animated fadeIn fast">
                                <b>Respuesta: </b> Es una empresa familiar que se especializa al arriendo de departamentos propiedad de la organizacion y otros servicios en zonas turisticas del pais.
                            </div>
                        </div>
                    </div>
                    <div class="card animated border-info fadeIn fast">
                        <div class="card-header p-2" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-success animated fadeIn fast" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Cuantos departamentos hay en este momento?
                            </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse animated fadeIn fast" aria-labelledby="headingTwo" data-parent="#faqExample">
                            <div class="card-body text-info  animated fadeIn fast">
                                Actualmente la empresa cuenta con 10 departamentos ubicados en zonas de alto interes turisticos para los clientes.
                            </div>
                        </div>
                    </div>
                    <div class="card border-info">
                        <div class="card-header p-2" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-success" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Cual es la forma de pago para agendar?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                            <div class="card-body text-info  animated fadeIn fast">
                                Actualmente contamos con webpay via web y efectivo.
                            </div>
                        </div>
                    </div>
                    <div class="card border-info">
                        <div class="card-header p-2" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed text-success" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                  Es necesario estar registrado para arrendar un departamento?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                            <div class="card-body text-info  animated fadeIn fast">
                                En efecto, el usuario o cliente debe estar registrado en nuestra base de datos para generar una reserva.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->



</section>