<p>Hello World!</p>
<!-- Ariel qlo no hiciste niuna wea en 3 semanas-->
<!-- Hay que mostrar departamentos -->

<table class="table table-bordered table-striped animated fadeIn fast">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Region</th>
            <th>Ciudad</th>
            <th>Precio</th>
            <th>Disponible</th>
        </tr>

    </thead>
    <tbody>
        <tr >
            <td>{{depa.nombre}}</td>
            <td>{{depa.direccion}}</td>
            <td>{{depa.region}}</td>
            <td>{{depa.ciudad}}</td>
            <td>{{depa.precio}}</td>
            <td>{{depa.disponibilidad}}</td>
        </tr>
    </tbody>
</table>