<div class="container altura-a-b" *ngIf="isLoaded">
    <h1>{{depa.nombre}}<small>{{' '+ depa.ciudad}}</small></h1>
    <br>
    <div class="row animated fadeIn fast">
        <div class="col-md-6">
            <img *ngIf="depa.precio > 25000" class="img-fluid" src="/assets/recursos/img_depart_inside/inside1.jpg" [alt]="depa.region">
            <br><br>
            <a href="departamentos" class="btn btn-outline-danger btn-block">Regresar</a>
            <br><br>
            <!-- <button type="button" class="btn btn-sm btn-primary" (click)='reservarDepa()'>Agendar</button> -->
            <button *ngIf="usrTrue && depa.disponibilidad === 1 " type="button" class="btn btn-primary btn-block" (click)='reservarDepa()'>Agendar</button>
        </div>

        <div class="col-md-6">
            <h3>{{ depa.nombre }}</h3>
            <br>
            <p>
                {{ depa.region }}
            </p>
            <div>
                <img *ngIf="depa.ciudad == 'Santiago'" class="img-logo" src="/assets/recursos/img_depart/Depar1.jpg" alt="Santiago">
            </div>

            <form [formGroup]="dateForm" *ngIf="usrTrue && depa.disponibilidad === 1 ">
                <div>
                    <br>
                    <p>Fecha Ingreso</p>
                    <input type="date" formControlName="date_in" id="date_in">
                    <p>Fecha Salida</p>
                    <input type="date" formControlName="date_out" id="date_out">
                    <br>
                </div>

            </form>

        </div>



    </div>
</div>