<h1>{{depa.nombre}}</h1>
<h1>{{depa.ciudad}}</h1>
<h1>{{depa.direccion}}</h1>
<br>
<input type="date">
<input type="date">
<button class="btn btn-sm btn-primary" (click)='reservarDepa()'>Agendar</button>

<div>

    <div class="col-md-4">
        <a href="departamentos" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-8">
        <h3>Nombre departamento</h3>
        <br>
        <p>
            bio del departamento

        </p>
        <div>
            <img src="" alt="">
        </div>


    </div>

</div>