<!-- <footer>

    <img class="logotipo-footer" src="" alt="Logotipo">
    <img class="iconos-redes-header" src="../../../../assets/recursos/img_redes/images_svg_facebook-logo-button.svg" alt="Facebook">
    <img class="iconos-redes-header" src="../../../../assets/recursos/img_redes/images_svg_instagram-logo.svg" alt="Instagram">
    <img class="iconos-redes-header" src="../../../../assets/recursos/img_redes/images_svg_twitter-logo-button.svg" alt="Twitter">




</footer> -->
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2020 - Turismo Real. All rights reserved.</p>
                </div>
            </div>


        </div>
    </div>
</footer>